{
	entityName = Event;
	controllerTitle = Events;
	sortKeyPaths = (
		name,
	);
	sectionNameKeyPath = "";
	"sectionIndexTitlesEnabled" = NO;
	"sectionIndexTitlesAlphabetical" = NO;
	cellTextLabelKeyPath = name;
	"cellDetailTextLabelKeyPath" = timeStamp;
	"detailViewPropertyListFile" = "___PROJECTNAMEASIDENTIFIER___DetailView";
}