{
	entityName = Event;
	entityFriendlyName = Events;
	sortKeyPaths = (
		name,
	);
	"sectionIndexTitlesEnabled" = NO;
	"sectionIndexTitlesAlphabetical" = NO;
	cellTextLabelKeyPath = name;
	"cellDetailTextLabelKeyPath" = timeStamp;
	createTabBarItem = NO;
	"detailViewPropertyListFile" = "___PROJECTNAMEASIDENTIFIER___DetailView";
}