(
	{
		sectionTitle = "General Information";
		rowInformation = (
			{
				rowLabel = Name;
				attributeKeyPath = name;
				rowType = "CDLTableRowTypeSingleLineValueSmallLabel";
			},
			{
				rowLabel = "Current Product?";
				attributeKeyPath = isCurrentProduct;
				rowType = "CDLTableRowTypeBooleanSwitch";
			},
			{
				rowLabel = Release;
				attributeKeyPath = releaseDate;
				rowType = "CDLTableRowTypeSingleLineValueSmallLabel";
				dateFormatterStyle = "NSDateFormatterLongStyle";
			},
		);
	},
	{
		sectionTitle = "Product Details";
		rowInformation = (
			{
				rowLabel = Detail;
				attributeKeyPath = detail;
				rowType = "CDLTableRowTypeMultiLineValueSmallLabel";
			},
			{
				rowLabel = Type;
				attributeKeyPath = "type.name";
				rowType = "CDLTableRowTypeRelationship";
			},
		);
	},
	{
		sectionTitle = "Manufacturing Process";
		rowInformation = (
			{
				rowLabel = Process;
				attributeKeyPath = "manufacturingProcesses.manufacturingProcess.name";
				rowType = "CDLTableRowTypeToManyOrderedRelationship";
				showAddNewObject = NO;
				"showAddExistingObjects" = YES;
				"addNewObjectPropertyListFile" = "";
			},
		);
	},
)